/.vscode

/venv

/__pycache__

*.pyc

/build

/resources

/output

/dist

Client-Details/*

!Client-Details/.gitkeep 

/node_modules

*.db

*.bak

pr2akeychart.xlsx

/asposecells

/Flash

/GAPS

/GACT

/ETL

/Invoice Generator

einv_sandbox.pem

/QR Code Validator

/PR2A

/PR2B

yarn.lock

Flash Remark.csv

consokey.csv

consokeypre.csv

left.csv

merged.csv

yarn-error.log

/data1

gstingenirn.xlsx

captcha_labels.pickle

captchaCracker_model.h5

*.zip

.__logfile.lock

*.log

*.pem